
.sign-out-button, .sign-in-button{
	display: flex;
	height: 3rem;
	border: 1px solid black;
	border-radius: var(--border-radius);
	background: rgb(224, 214, 191);
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;

}
.sign-out-button:hover{
	box-shadow: 2px 2px 2px black;
	cursor: pointer;
}
.create-account-container {
    border-radius: 15px;
    background: var(--background-gradient);
    box-shadow: 1px 1px 5px 0px black;
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 1023px) {	
	.create-account-container {
		width: 100%;
	}
}

.create-account__header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.5rem;
	text-shadow: 0.0625rem 0.0625rem 0 white;
	font-weight: 700;
	padding-top: 1rem;
}

.create-account__private-button, .create-account__corporate-button {
	display: flex;
	height: 2rem;
	color: white;
	text-shadow: 0.0625rem 0.0625rem 0 black;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	border-bottom: 0.0625rem solid #015caba1;
	background: linear-gradient(to left, #015cab, #0157a1);
	border-radius: var(--border-radius);
	overflow: hidden;
}
.create-account__private-button:hover, .create-account__corporate-button:hover {
	background: linear-gradient(to top, #620084, #015BAB);
}
.create-account__corporate-form {
	display: none;
}

.create-account__label {
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 0.8rem;
	display: flex;
	color: black;
	justify-content: center;
	text-shadow: 0.0625rem 0.0625rem 0 white;
}

.create-account__input {
	display: flex;
	font-size: 1.3rem;
	border-radius: var(--border-radius);
	padding-top: 0.1rem;
	text-decoration: underline;
	text-align: center;
	height: 1.7rem;
	border-bottom: 2px solid #015caba1;
}

.create-account__gender {
	background-color: #015cabe3;
	color: white;
	font-size: 1rem;
	border: none;
	width: 100%;
	text-align: center;
	box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}

.create-account__gender:hover {
	background-color: #0263b8d5;
}



.create-account__terms{
	display: flex;
	justify-content: center;
	text-align: center;
}

.create-account__terms-header {
	display: flex;
	justify-content: center;
	font-weight: bold;
	margin-top: -1rem;
}

.create-account__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.create-account__submit-button {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	font-size: 1rem;
	font-weight: 700;
	height: 3rem;
	background: linear-gradient(to left, #015cab, #0157a1);
	color: white;
}

.create-account__submit-button:hover {
	background: linear-gradient(to top, #620084, #015BAB);
}