
[grid] {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0.5rem;
	margin: 0 auto;
	width: 100%;
}

.header {
	display: flex;
	width: 100%;
	justify-content: center;
}

.header2 {
	display: flex;
	width: 100%;
	justify-content: center;
}

.header img {
	height: 18rem;
	margin: 0 auto;
}

.header2 img {
	height: 10rem;
	margin: 0 auto;
}


button {
	font: inherit;
	color: inherit;
	background: transparent;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
}
a {
	text-decoration: none;
	color: black;
}


html {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	color: black;
}

:root {
	--border-radius: 5px;

	--font-size-small: 0.7rem;
	--font-size-medium: 1.5rem;
	--font-size-large: 2rem;

	--font-leading-base: 0.5rem;
	--font-leading-xsmall: 0.2rem;
	--font-leading-small: 0.5rem;
	--font-leading-medium: 0.5rem;
	--font-leading-large: 0.5rem;

	--background-gradient: linear-gradient(to top, #a7d2f7, #e0eefb);
	--scale-color: #d6e0eb;
	--faded-color: #01428878;
	--primary-color: #014288;
	--original-color: #015bab;
	--secondary-color: #620084;
	--box-border: 6px;
}

@media screen and (max-width: 1023px) {	
	.column--1,
	.column--2,
	.column--3,
	.column--4,
	.column--5,
	.column--6,
	.column--7,
	.column--8,
	.column--9,
	.column--10,
	.column--11,
	.column--12 {
		grid-column-end: span 10;
	}

	.offset-small--1 {
		grid-column-start: 2;
	}

	.offset-small--2 {
		grid-column-start: 3;
	}

	.offset-small--3 {
		grid-column-start: 4;
	}

	.offset-small--4 {
		grid-column-start: 5;
	}

	.offset-small--5 {
		grid-column-start: 6;
	}

	.offset-small--6 {
		grid-column-start: 7;
	}

	.offset-small--7 {
		grid-column-start: 8;
	}

	.offset-small--8 {
		grid-column-start: 9;
	}

	.offset-small--9 {
		grid-column-start: 10;
	}

	.offset-small--10 {
		grid-column-start: 11;
	}

	.offset-small--11 {
		grid-column-start: 12;
	}

	.order-small--1 {
		order: 1;
	}

	.order-small--2 {
		order: 2;
	}

	.order-small--3 {
		order: 3;
	}

	.order-small--4 {
		order: 4;
	}

	.order-small--5 {
		order: 5;
	}

	.order-small--6 {
		order: 6;
	}

	.order-small--7 {
		order: 7;
	}

	.order-small--8 {
		order: 8;
	}

	.order-small--9 {
		order: 9;
	}

	.order-small--10 {
		order: 10;
	}

	.order-small--11 {
		order: 11;
	}

	.order-small--12 {
		order: 12;
	}

	.column-small--1 {
		grid-column-end: span 1;
	}

	.column-small--2 {
		grid-column-end: span 2;
	}

	.column-small--3 {
		grid-column-end: span 3;
	}

	.column-small--4 {
		grid-column-end: span 4;
	}

	.column-small--5 {
		grid-column-end: span 5;
	}

	.column-small--6 {
		grid-column-end: span 6;
	}

	.column-small--7 {
		grid-column-end: span 7;
	}

	.column-small--8 {
		grid-column-end: span 8;
	}

	.column-small--9 {
		grid-column-end: span 9;
	}

	.column-small--10 {
		grid-column-end: span 10;
	}

	.column-small--11 {
		grid-column-end: span 11;
	}

	.column-small--12 {
		grid-column-end: span 12;
	}
}

@media screen and (min-width: 1024px) {

	.offset--1 {
		grid-column-start: 2;
	}

	.offset--2 {
		grid-column-start: 3;
	}

	.offset--3 {
		grid-column-start: 4;
	}

	.offset--4 {
		grid-column-start: 5;
	}

	.offset--5 {
		grid-column-start: 6;
	}

	.offset--6 {
		grid-column-start: 7;
	}

	.offset--7 {
		grid-column-start: 8;
	}

	.offset--8 {
		grid-column-start: 9;
	}

	.offset--9 {
		grid-column-start: 10;
	}

	.offset--10 {
		grid-column-start: 11;
	}

	.offset--11 {
		grid-column-start: 12;
	}

	.order--1 {
		order: 1;
	}

	.order--2 {
		order: 2;
	}

	.order--3 {
		order: 3;
	}

	.order--4 {
		order: 4;
	}

	.order--5 {
		order: 5;
	}

	.order--6 {
		order: 6;
	}

	.order--7 {
		order: 7;
	}

	.order--8 {
		order: 8;
	}

	.order--9 {
		order: 9;
	}

	.order--10 {
		order: 10;
	}

	.order--11 {
		order: 11;
	}

	.order--12 {
		order: 12;
	}

	.column--1 {
		grid-column-end: span 1;
	}

	.column--2 {
		grid-column-end: span 2;
	}

	.column--3 {
		grid-column-end: span 3;
	}

	.column--4 {
		grid-column-end: span 4;
	}

	.column--5 {
		grid-column-end: span 5;
	}

	.column--6 {
		grid-column-end: span 6;
	}

	.column--7 {
		grid-column-end: span 7;
	}

	.column--8 {
		grid-column-end: span 8;
	}

	.column--9 {
		grid-column-end: span 9;
	}

	.column--10 {
		grid-column-end: span 10;
	}

	.column--11 {
		grid-column-end: span 11;
	}

	.column--12 {
		grid-column-end: span 12;
	}
}


@media screen and (max-width: 1023px) {	


	.row-offset-small--1 {
		grid-row-start: 1;
	}

	.row-offset-small--2 {
		grid-row-start: 3;
	}

	.row-offset-small--3 {
		grid-row-start: 4;
	}

	.row-offset-small--4 {
		grid-row-start: 5;
	}

	.row-offset-small--5 {
		grid-row-start: 6;
	}

	.row-offset-small--6 {
		grid-row-start: 7;
	}

	.row-offset-small--7 {
		grid-row-start: 8;
	}

	.row-offset-small--8 {
		grid-row-start: 9;
	}

	.row-offset-small--9 {
		grid-row-start: 10;
	}

	.row-offset-small--10 {
		grid-row-start: 11;
	}

	.row-offset-small--11 {
		grid-row-start: 12;
	}

	.row-small--1 {
		grid-row-end: span 1;
	}

	.row-small--2 {
		grid-row-end: span 2;
	}

	.row-small--3 {
		grid-row-end: span 3;
	}

	.row-small--4 {
		grid-row-end: span 4;
	}

	.row-small--5 {
		grid-row-end: span 5;
	}

	.row-small--6 {
		grid-row-end: span 6;
	}

	.row-small--7 {
		grid-row-end: span 7;
	}

	.row-small--8 {
		grid-row-end: span 8;
	}

	.row-small--9 {
		grid-row-end: span 9;
	}

	.row-small--10 {
		grid-row-end: span 10;
	}

	.row-small--11 {
		grid-row-end: span 11;
	}

	.row-small--12 {
		grid-row-end: span 12;
	}

}

@media screen and (min-width: 1024px) {

	.row-offset--1 {
		grid-row-start: 2;
	}

	.row-offset--2 {
		grid-row-start: 3;
	}

	.row-offset--3 {
		grid-row-start: 4;
	}

	.row-offset--4 {
		grid-row-start: 5;
	}

	.row-offset--5 {
		grid-row-start: 6;
	}

	.row-offset--6 {
		grid-row-start: 7;
	}

	.row-offset--7 {
		grid-row-start: 8;
	}

	.row-offset--8 {
		grid-row-start: 9;
	}

	.row-offset--9 {
		grid-row-start: 10;
	}

	.row-offset--10 {
		grid-row-start: 11;
	}

	.row-offset--11 {
		grid-row-start: 12;
	}

	.row--1 {
		grid-row-end: span 1;
	}

	.row--2 {
		grid-row-end: span 2;
	}

	.row--3 {
		grid-row-end: span 3;
	}

	.row--4 {
		grid-row-end: span 4;
	}

	.row--5 {
		grid-row-end: span 5;
	}

	.row--6 {
		grid-row-end: span 6;
	}

	.row--7 {
		grid-row-end: span 7;
	}

	.row--8 {
		grid-row-end: span 8;
	}

	.row--9 {
		grid-row-end: span 9;
	}

	.row--10 {
		grid-row-end: span 10;
	}

	.row--11 {
		grid-row-end: span 11;
	}

	.row--12 {
		grid-row-end: span 12;
	}
}

